<!-- 2017-09-08
jQuery Validate plugin requres the validated elements to have a name:
https://github.com/magento/magento2/blob/2.2.0-RC1.5/lib/web/jquery/jquery.validate.js#L487-L499
Stripe and its clones forbids us to assign the `name` attribute to the bank card form elements,
so I have implemented a patch to jQuery Validate plugin: it uses ID if the name is absent:
https://github.com/mage2pro/core/blob/2.11.27/Core/view/base/web/main.js#L43-L72
So, in our case the validated elements should have an ID or a name.
 -->
<div class='field telephone required'>
	<label class='label' data-bind="attr: {for: fid('phone')}" >
		<span><!-- ko df_i18n: "Phone Number"--><!-- /ko --></span>
	</label>
	<div class='control'>
<!-- 2017-09-09
Note 1.
We need this whapper, because otherwise the validation message will break the country flag position
(the country flag will be shifted down).
It is because the `jackocnr/intl-tel-input` JS library creates some wrappers around the phone <input>,
and the `mage/validation` JS library places the validation message just after the <input>:
https://github.com/magento/magento2/blob/2.2.0-rc2.3/lib/web/mage/validation.js#L1744-L1776
So the `mage/validation`'s message increases the `jackocnr/intl-tel-input`'s wrappers height,
and it breaks the country flag position.
But `mage/validation` allows to specify a custom validation message position in some ways.
One of the way is to use an `.addon` wrapper.
`mage/validation` processes it in the following way:
	fieldWrapper = element.closest('.addon');
	if (fieldWrapper.length) {
		errorPlacement = fieldWrapper.after(error);
	}
https://github.com/magento/magento2/blob/2.2.0-rc2.3/lib/web/mage/validation.js#L1756-L1761
Note 2. `How to get the list of allowed QIWI Wallet customer countries manually`: https://mage2.pro/t/4477 -->
		<div class='addon df-phone-addon'>
			<input
				class='input-text required-entry'
				data-bind="
					attr: {
						'data-container': getCode() + '-phone'
						,'data-validate': JSON.stringify({'df-validate-phone': '#' + fid('phone')})
						,id: fid('phone')
						,title: $t('Phone Number')
					}
					,'df-phone': {options: {
						onlyCountries: ['AM','AR','AZ','BY','EE','GB','GE','IL','IN','JO','JP','KG','KR','KZ','LT','LV','MD','PA','RO','RU','TH','TJ','TR','UA','US','UZ','VN']
					}, storage: phone, value: phone()}
					,value: phone
					,valueUpdate: 'keyup'
				"
				type='tel'
			>
		</div>
	</div>
</div>