<?xml version='1.0'?>
<config
    xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:module:Magento_Store:etc/config.xsd'
>
    <default>
		<df_payment>
			<qiwi>
<!-- 2017-09-02
«Today QIWI payment service is offered in 8 countries:
Russia, Kazakhstan, Moldova, Romania, Belarus, United States, Brazil, Jordan»
https://corp.qiwi.com/en/company/world.action
-->
				<countries>RU,KZ,MD,RO,BY,US,BR,JO</countries>
				<country_restriction>whitelist</country_restriction>
<!-- 2017-09-02 [QIWI Wallet] Which currencies are supported by the REST API? https://mage2.pro/t/4445 -->
				<currency>RUB</currency>
				<description>{order.items}</description>
				<description_rules>
					<locations>
						<customer>
							<shown>1</shown>
							<title><![CDATA[How is a payment's description shown in a customer's QIWI Wallet account?]]></title>
							<url>https://mage2.pro/t/4482</url>
						</customer>
						<merchant>
							<shown>1</shown>
							<title><![CDATA[How is a payment's description shown in the QIWI Wallet merchant interface?]]></title>
							<url>https://mage2.pro/t/4483</url>
						</merchant>
						<payment>
							<shown>1</shown>
							<title><![CDATA[How is a payment's description shown on the QIWI Wallet payment page?]]></title>
							<url>https://mage2.pro/t/4481</url>
						</payment>
					</locations>
					<maxLength>
						<title>The GitHub-based documentation: «Pull REST API» → «Issuing Invoice for the Order» → «Parameters». See the «comment» parameter.</title>
						<url>https://github.com/QIWI-API/pull-payments-docs/blob/40d48cf0/_pull-payments-api_en.html.md#parameters</url>
						<value>255</value>
					</maxLength>
				</description_rules>
				<identification_rules>
<!-- 2017-09-10
`[QIWI Wallet] A bug: a «PUT api.qiwi.com/api/v2/prv/{prv_id}/bills/{bill_id}» request fails when the {bill_id} parameter contains an URL-encoded slash (%2F) despite the API specification does not forbid any characters in {bill_id}`: https://mage2.pro/t/4479
-->
					<regex>
						<message><![CDATA[the slash («<b>/</b>») character <a href='https://mage2.pro/t/topic/4479' target='_blank' title='[QIWI Wallet] A bug: a «PUT api.qiwi.com/api/v2/prv/{prv_id}/bills/{bill_id}» request fails when the {bill_id} parameter contains an URL-encoded slash (%2F) despite the API specification does not forbid any characters in {bill_id}'>is not allowed</a>]]></message>
						<pattern><![CDATA[#^[^/]+$#i]]></pattern>
					</regex>
				</identification_rules>
				<requireBillingAddress>1</requireBillingAddress>
				<payment_action>authorize_capture</payment_action>
				<title>QIWI Wallet</title>
				<title_backend>QIWI Wallet</title_backend>
<!-- 2017-09-05 [QIWI Wallet] What is the maximum unpaid invoice lifetime? https://mage2.pro/t/4453 -->
				<waitPeriod>45</waitPeriod>
				<waitPeriodType>calendar_days</waitPeriodType>
			</qiwi>
		</df_payment>
        <payment>
            <dfe_qiwi>

<!-- 2017-07-24
@used-by \Magento\Payment\Helper\Data::getMethodModelConfigName():
	protected function getMethodModelConfigName($code) {
		return sprintf('%s/%s/model', self::XML_PATH_PAYMENT_METHODS, $code);
	}
https://github.com/magento/magento2/blob/2.2.0-RC1.5/app/code/Magento/Payment/Helper/Data.php#L85-L92
-->
				<model>Dfe\Qiwi\Method</model>
            </dfe_qiwi>
        </payment>
    </default>
</config>