<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_payment'>
<!--
2015-09-25
1-я и 2-я цифры sortOrder соответствуют порядковому номеру первой буквы модуля
в английском алфавите: https://en.wikipedia.org/wiki/English_alphabet
3-я и 4-я цифры sortOrder соответствуют порядковому номеру второй буквы модуля
в английском алфавите.
-->
			<group
				id='qiwi'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='1709'
				translate='label'
			>
				<label>QIWI Wallet</label>
				<dfExtension>Dfe_Qiwi</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/qiwi' target='_blank'>QIWI Wallet</a>» payment extension?
<br/>You need to:
<ul class='df-note'>
<li><a href='https://mage2.pro/t/4437' target='_blank' title='[QIWI Wallet] How to enable the «HTTP-protocol» («HTTP-протокол»)?'>enable the «HTTP-protocol»</a></li>
<li><a href='https://mage2.pro/t/4438' target='_blank' title='[QIWI Wallet] How to setup the webhook notifications?'>setup the webhook notifications</a></li>
</ul>
]]></comment>
					<dfValidator>Dfe\Qiwi\Validator\Currency</dfValidator>
					<label>Enable?</label>
				</field>
				<field
					id='title'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='text'
				>
					<label>Title</label>
					<comment><![CDATA[It is shown on the checkout screen.]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='merchantID'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='4'
					translate='label'
					type='text'
				>
					<label>Shop ID</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4439' target='_blank'>How to get it?</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry validate-digits</validate>
				</field>
				<field
					id='apiID'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='5'
					translate='label'
					type='text'
				>
					<label>API ID</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4436' target='_blank'>How to get it?</a>]]></comment>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry validate-digits</validate>
				</field>
				<field
					id='password1'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='6'
					translate='label'
					type='obscure'
				>
					<label>API password</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4436' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='password2'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='7'
					translate='label'
					type='obscure'
				>
					<label>Webhook password</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4434' target='_blank'>How to get it?</a>]]></comment>
					<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
					<depends><field id='enable'>1</field></depends>
					<validate>required-entry</validate>
				</field>
				<field
					id='webhook'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='12'
					translate='label'
					type='Df\Framework\Form\Element\Webhook'
				>
					<label>Webhook</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/4373' target='_blank' title='[QIWI Wallet] How to setup my webhook URL («URL для оповещения)?'>Set it in your QIWI Wallet merchant interface</a>.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='identification'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='13'
					translate='label'
					type='select'
				>
					<label>Payment Identification Type</label>
					<source_model>Df\Payment\Source\Identification</source_model>
					<comment><![CDATA[
<p class='df-note'>«<b>Visible ID</b>» is the recommended value for the most shops,
because it allows you to locate a payment in the QIWI Wallet merchant backend
knowing only the order's visible identifier.</p>
<p class='df-note'>On the other hand, QIWI Wallet can fail on some unpredicted characters in a payment identifier (e.g. it <a href='https://mage2.pro/t/4479' target='_blank' title='[QIWI Wallet] A bug: a «PUT api.qiwi.com/api/v2/prv/{prv_id}/bills/{bill_id}» request fails when the {bill_id} parameter contains an URL-encoded slash (%2F) despite the API specification does not forbid any characters in {bill_id}'>fails on slash</a>).</p>
<p class='df-note'>For example, the «<a href='https://mage2.pro/t/512' target='_blank'>Sales Documents Numeration</a>» extension allows you to implement a custom order numeration scheme like <b>ORD-2016/07-00327</b>.</p>
<p class='df-note'>If you use such non-standard orders numbers, then choose the «<b>Internal ID</b>» value for the «Payment Identification Type» option.</p>]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='idPrefix'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='14'
					translate='label'
				>
					<label>Payment ID prefix</label>
					<comment><![CDATA[<p class='df-note'>This option allows you to define a prefix for the payment identificators (values of the <a href='https://mage2.pro/t/4442' target='_blank'><code>bill_id</code></a> API parameter).</p>
<p class='df-note'>In the most cases you do not need any prefix and can leave this option empty.</p>
<p class='df-note'>But there are some (rare) cases</a> when your QIWI Wallet payment identifiers can potentially overlap with the previous ones:</p>
<ul class='df-note'>
<li>If you have changed (e.g., reset) your Magento order numeration scheme.</li>
<li>If you use a single QIWI Wallet merchant account for multiple shops.</li>
</ul>
<p class='df-note'>If QIWI Wallet encounters a payment identifier which has been already used for another payment, then it fails with the message: «<a href='https://github.com/QIWI-API/pull-payments-docs/blob/40d48cf0/_errors_en.html.md#error-codes-errors' target='_blank' title='QIWI Wallet API error codes'><b>Invoice with this <code>bill_id</code> already exists</b></a>» («<a href='https://github.com/QIWI-API/pull-payments-docs/blob/40d48cf0/_errors_ru.html.md#Список-ошибок-errors' target='_blank' title='Перечень диагностических сообщений QIWI Wallet API'><b>Счет с таким <code>bill_id</code> уже существует</b></a>»).</p>
<p class='df-note'>So to evade such situation you can define a prefix for the payment identifiers.</p>
<p class='df-note'>Please note that the full payment identifier length (prefix + order number) should be not greater than <a href='https://mage2.pro/t/4442' target='_blank' title='[QIWI Wallet] What is the maximum length of a merchant's payment identifier («bill_id»)?'><b>200 characters</b></a>.</p>
]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					dfValues='RUB,EUR,USD,KZT'
					id='currency'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='15'
					translate='label'
					type='Df\Directory\FE\Currency'
				>
					<label>Payment Currency</label>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='description'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='16'
					translate='label'
					type='textarea'
				>
					<comment model='Df\Payment\Comment\Description'/>
					<depends><field id='enable'>1</field></depends>
					<label>Description</label>
<!-- 2016-07-01
We do not use the `validate-length` validator here
because the value can contain variables, so do not know the real length here. -->
					<validate>required-entry</validate>
				</field>
				<field
					id='waitPeriod'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='17'
					translate='label'
					type='text'
				>
					<label>Wait period for a payment</label>
					<comment><![CDATA[In days. The maximum wait period is <a href='https://mage2.pro/t/topic/4453/2' target='_blank' title='[QIWI Wallet] What is the maximum unpaid invoice lifetime?'><b>45 calendar days</b></a>.]]></comment>
					<validate>validate-digits validate-digits-range digits-range-1-60</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='waitPeriodType'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='18'
					translate='label'
					type='select'
				>
					<label>Wait Period Type</label>
					<source_model>Df\Config\Source\WaitPeriodType</source_model>
					<comment><![CDATA[You can set the working days with the<br/>«<b>General</b>» → «<b>General</b>» → «<b>Locale Options</b>» → «<b>Weekend Days</b>» option.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='requireBillingAddress'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='19'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Require the billing address?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[If <b>checked</b>, Magento will require the billing address. It is the default Magento behavior.<br/>If <b>unchecked</b>, Magento will not require the billing address, and even will not ask for it.]]></comment>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='min_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='20'
					translate='label'
					type='text'
				>
					<label>Minimum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='max_order_total'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='21'
					translate='label'
					type='text'
				>
					<label>Maximum Order Total</label>
					<comment><![CDATA[]]></comment>
					<validate>validate-number validate-greater-than-zero</validate>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='country_restriction'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='22'
					translate='label'
					type='select'
				>
					<label>Country Restriction</label>
					<source_model>Df\Config\Source\NoWhiteBlack</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<field
					id='countries'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='23'
					translate='label'
					type='Df\Framework\Form\Element\Multiselect'
				>
					<label>Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
					<depends>
						<field id='enable'>1</field>
<!--
2016-03-08
«The negative syntax for a backend config field <depends> condition»
https://mage2.pro/t/329
-->
						<field id='country_restriction' negative='1'>0</field>
					</depends>
					<comment><![CDATA[Customers from which countries can (or can not) use the method?]]></comment>
				</field>
			</group>
		</section>
	</system>
</config>